body{
    background-color: black;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.app{
    width: 100%;
    height: 100vh;
    place-content: center;
    margin: auto;
    display: flex;
}

.calculator-body{
    background: grey;
    height: auto;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content:center;
    padding:30px;
}

.display-result{
    border:black 3px solid;
    background: white;
    width:200px;
    padding: 20px;
    text-align: end;
    margin-bottom:10px;
}

.botton{ 
    border:black 3px solid;
    background: white;
    padding: 15px 20px;
    cursor:pointer;
}



.keypad{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px
}

